
.icon-user:before { content: '\e800'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
